version: "3.9"

services:
  spark-notebook:
    image: jupyter/pyspark-notebook
    container_name: spark-notebook
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/home/jovyan/work/notebooks
      - ./data:/home/jovyan/work/data
    environment:
      - JUPYTER_TOKEN=benjamin